header {
    display: flex;
    justify-content: center;
    background-color: rgb(204, 204, 204);

    & a {
        text-decoration: none;
        color: black;

        & #title_block {
            width: 300px;
            height: 100px;
            display: flex;
            justify-content: space-between;
    
            & #title {
                font-family: 'Shadows Into Light';
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                & h1 {
                    font-size: xxx-large;
                }
            }
    
            & #logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                & i {
                    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    & #panier {
        position: absolute;
        right: 10px;
        top: 30px;

        & a {
            text-decoration: none;

            & i {
                color: black;
            }
        }
    }
}