main {
    margin-left: 15px;
    margin-right: 15px;

    & h2 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: larger;
        text-align: center;
    }

    & .product {
        height: 400px;
        width: 250px;
        padding: 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 2px solid black;


        & .img_wrap {  
            width: auto;
            height: 250px;

            & img {
                object-fit: cover;
            }
        }

        & .desc {
            
        }

        & .price {
            font-weight: bold;
        }

        & .add {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 150px;
            height: 30px;

            border: 1px solid black;
            border-radius: 2rem;

            &:hover {
                cursor: pointer;
                background-color: grey;
                color: white;
            }
        }
    }
}