@import "../base/reset.scss";

@import "../base/title.scss";

@import "../layout/header.scss";

@import "../composants/add.scss";

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    & #row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
    
        & table {
            width: 250px;
            border-style: solid;
            border-width: 5px;
            border-color: black;
            background-color: #d9d9d9;
            text-align: center;
            
            & tr {
                border-style: solid;
                border-width: 1px;
                border-color: black;
            }
    
            & th {
                height: 50px;
                border-style: solid;
                border-width: 1px;
                border-color: black;
            }
            
            & tbody {
                & td {
                    height: 150px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: black;
                }
            }
    
            & #prix_total {
                font-weight: bold;
            }
        }

        & #formulaire {
            display: flex;
            flex-direction: column;
        }
    }      
}
