@import "../base/reset.scss";

@import "../base/title.scss";

@import "../layout/header.scss";

@import "../composants/add.scss";

main {
    margin-left: 15px;
    margin-right: 15px;

    & #list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        
        & .product {
            height: 500px;
            width: 300px;
            padding: 15px;
            margin-bottom: 20px;
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border: 2px solid black;

            & .img_wrap {  
                width: auto;
                height: 200px;
    
                & img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
    
            & .desc {
                text-align: center;
            }
    
            & .price {
                font-weight: bold;
            }

            & a {
                text-decoration: none;
                color: black;
            }
        }
    }
}